<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TensorBase</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
        type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#blog">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">TensorBase</h1>
                        <p class="intro-text">
                            A Modern Bigdata Base<br>
                            for Massive Realtime Data Intelligence
                        </p>
                        <p>

                            <a class="btn btn-intro btn-lg" style="text-align:center;" href="#about"></i><img
                                    alt="GitHub icon" src="/img/icon_github.svg" height="22" width="22"> Get on
                                GitHub</a>
                        </p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-arrow-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h2><i class="lab la-superpowers"></i> Extreme Performance Pursued</h2>
                <h2><i class="las la-cube"></i> Highly Hackable Architecture</h2>
                <h2><i class="las la-tools"></i> Data and Ops Engineering In Mind</h2>

            </div>
        </div>
    </section>

    <section id="blog" class="container grey-section text-center">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h2>Blog Posts</h2>

                <div class="text-center">
                    {% for post in site.posts limit:20 %}
                    <p><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a>
                        <br />{{ post.date | date: "%B %-d, %Y" }}</p>
                    {% endfor %}
                </div>

            </div>
        </div>
    </section>

    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="control-panel">
                <div class="control-panel__btn">
                    <a class="btn btn-intro btn-lg" style="text-align:center;" href="https://tensorbase.slack.com/"><img alt="join slack"
                            src="/img/slack.svg" height="22" width="22"> Join Slack </a>
                </div>
                <!-- <div class="control-panel__btn">
                    <a class="btn btn-intro btn-lg" style="text-align:center;" href=""></i><img alt="join microsoft teams"
                            src="/img/teams.svg" height="22" width="22"> Join Teams</a>
                </div> -->
            </div>
            <p></p>
        </div>

        <div class="row">

            <div class="col-lg-8 col-lg-offset-2">
                <h3>TensorBase Weekly Newsletter</h3>
                <form role="form" class="form-inline" method="get" target="_blank"
                    action="https://docs.google.com/forms/d/e/1FAIpQLScrhriaDFD5WpprSkJfZev47ZVfwjFOvWJwITM0YrAUHNI4Ew/viewform?">
                    <input type="hidden" name="fvv" value="1" />
                    <div class="form-group">
                        <input type="email" name="emailAddress" placeholder="Enter Email Address"
                            class="form-control input input-default input-lg " id="email">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-default btn-lg" />
                    </div>
                </form>
            </div>
    </section>


    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p><small>Copyright &copy; 2020 TensorBase </small></p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/grayscale.js"></script>

    <!-- Google Analytics -->


</body>

</html>